.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 16px;
    border: 1px solid red;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1216px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 940px;
        margin: 0 auto;
        border: 1px solid rgb(0, 217, 255);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 610px;
        margin: 0 auto;
        border: 1px solid rgb(0, 255, 21);
    }
}
